<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <meta name="author" content="pengelement">
        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

		<title>Page Not Found - 播种内测下载平台</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">

	</head>

	<style type="text/css">
		body {

		    background-color: #f8f8f8;

		    background-repeat: repeat;

		    background-size: inherit;

		    background-attachment: fixed;

		    background-position: center center;

		}

		.container {

		    overflow: hidden;

		    position: absolute;

		    height:580px;

		    left: 50%;

		    top: 50%;

		    margin-left: -600px;

		    margin-top: -300px;

		}

		.box {

		    background-color: #fff;

		    border: 1px #f2f2f2 solid;

		    font-size: 12px;

		}

		.wrapper {

		    width: 1200px;

		    clear: both;

		}

		.page404 {

		    width: 50%;

		    margin: 60px auto;

		    text-align: center;

		}

		.page404 h2 {

		    font-size: 72px;

		    line-height: 72px;

		    margin-top: 20px;

		    margin-bottom: 36px;

		}

		.page404 p {

		    font-size: 18px;

		    margin-bottom: 24px;

		}

		.page404 .search h3 {

		    margin-bottom: 8px;

			font-weight: 500;

		}

		.content{

			width: 50%;

			margin: 0 auto;

		}

		.other-things{

			font-size: 20px;

		    margin-bottom: 24px;

		    text-align: center;

		}

		.content ul{

			margin: 0;

			padding: 0;

		}

		.content ul li{

			list-style: none;

			list-style-type: none;

			width: 80%;

			margin: 0 auto;

		}

		#goog-wm .content .other-things b{

			font-weight: 500;

		}

		.search-goog input[type=text]{

			width: 70%;

			border-radius: 5px;

			-webkit-appearance: none;

		    -moz-appearance: none;

		    appearance: none;

		    outline: 0;

		    border-radius: 0;

		    border: 1px #eee solid;

    		padding: 4px;

    		height: 27px;

		}

		.search-goog input[type=submit]{

			background-color: #3db1fa;

		    width: 90px;

		    color: #fff;

		    border: 0;

		    height: 36px;

		    -webkit-appearance: none;

		    -moz-appearance: none;

		    appearance: none;

		    outline: 0;

		    border-radius: 0;

		    cursor: pointer;

		    -moz-transition: ease-in-out .5s;

		    -webkit-transition: ease-in-out .5s;

		    -o-transition: ease-in-out .5s;

		    -ms-transition: ease-in-out .5s;

		    transition: ease-in-out .5s;

		}

		.page404 div h2 b{

		    color:red;

		}

		.search h3 a{

			display:block;

			margin: 0 auto;

			line-height: 36px;

			text-decoration: none;

			background-color: #3db1fa;

			width: 90px;

			color: #fff;

			border: 0;

			height: 36px;

			-webkit-appearance: none;

			-moz-appearance: none;

			appearance: none;

			outline: 0;

			border-radius: 0;

			cursor: pointer;

			-moz-transition: ease-in-out .5s;

			-webkit-transition: ease-in-out .5s;

			-o-transition: ease-in-out .5s;

			-ms-transition: ease-in-out .5s;

			transition: ease-in-out .5s;

		}
	</style>

	<body>

		<section class="container wrapper box">

			<article class="page404">
				<div class="">
					<img src="{{ url_for('static', filename='images/logo.png') }}" height="100" width="100"/>
				</div>

				<h1>播种客户端内部服务</h1>
			 	<h3>Error 404</h3>
				<p>_____________________________________</p>
				<p>糟糕！ 页面不存在。</p>
				<p>你可以尝试回到首页</p>
				<button type="button" class="btn btn-danger" onClick="javascript:location.href='{{ url_for('index') }}'">回到首页</button>

			</article>
			
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</script>

	</body>

</html>