{% extends "common/base.html" %}

{% block title %}播种客户端内部服务{% endblock %}

{% block content %}
<div class="container">
	</br>
	
	<h3>
  	播种客户端内部服务
	</h3>
	
	</br>
	
	<div class="card border-secondary mb-3">
  		<div class="card-header">支持iOS、Android</div>
  			<div class="card-body">
    			<h4 class="card-title">内测平台</h4>
    			<p class="card-text">内测平台提供app列表浏览、安装，以供内部测试使用</p>
    			<p class="card-text">管理后台可以下载、删除、上传app</p>
    			<a href="{{ url_for('ota.index') }}" class="card-link">点击前往</a>
    			<a href="{{ url_for('ota.admin') }}" class="card-link">管理后台</a>
  		</div>
	</div>


	<div class="card border-secondary mb-3">
  		<div class="card-header">仅Android</div>
  			<div class="card-body">
				<h4 class="card-title">Android一键打包</h4>
				<a href="{{ url_for('pack.index') }}" class="card-link">点击前往</a>
  		</div>
	</div>
	
	
	<div class="card border-secondary mb-3">
  		<div class="card-header">仅Android</div>
  			<div class="card-body">
   			 <h4 class="card-title">Android自由打包</h4>
   			 <a href="http://192.168.80.160:5005/" class="card-link">点击前往</a>
  		</div>
	</div>
	
	<div class="card border-secondary mb-3">
  		<div class="card-header">仅iOS</div>
  			<div class="card-body">
   			 <h4 class="card-title">代码风格测试</h4>
   			 <p class="card-text">敬请期待</p>
  		</div>
	</div>
	
	
	<div class="card border-secondary mb-3">
  		<div class="card-header">内部使用</div>
  			<div class="card-body">
   				 <h4 class="card-title">UI 样式示例</h4>
   			 	<p class="card-text">服务使用Boostrap来搭建UI界面，这里列出常用的组件，提供参考UI样式</p>
   			 	<p class="card-text">如果你需要增加功能，可以参考这里的样式，复制粘贴使用。</p>
   			 	<a href="{{ url_for('demo.index') }}" class="card-link">点击前往</a>
  		</div>
	</div>

	
</div>

</br>
{% endblock %}