{% extends "common/base.html" %}

{% block title %}安卓一键打包服务{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">

                <br/>

                <h3>安卓一键打包服务</h3>

                {% for entity in list %}

                <br/>

                <div class="card border-success mb-3" style="max-width: 30rem;">
                    <div class="card-header">{{ entity.button }}</div>
                    <div class="card-body">
                        <form class="form-group" action="{{ entity.action }}" method="post">
                            <p>
                                <select class="form-control" name="tag">
                                    {% for option in entity.select %}

                                    <option>{{ option }}</option>

                                    {% endfor %}
                                </select>
                            </p>

                            <p>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-info active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked=""
                                           value="office">office
                                </label>
                                <label class="btn btn-outline-info">
                                    <input type="radio" name="options" id="option2" autocomplete="off" value="online">
                                    online
                                </label>
                                <label class="btn btn-outline-info">
                                    <input type="radio" name="options" id="option3" autocomplete="off" value="product">
                                    product
                                </label>
                            </div>
                            </p>

                            <p>
                                <button type="submit" class="btn btn-info">开始打包</button>
                            </p>

                        </form>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}