{% extends "common/base.html" %}

{% block title %}安卓一键打包服务{% endblock %}

{% block content %}

<div class="card border-success mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <form method="post">
            <p>
            <div class="form-group">
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

            </div>

            <button type="submit" class="btn btn-outline-success">打包孕迹office</button>

        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">

                </br>
                <h3>安卓一键打包服务</h3>
                </br>

                <div class="card border-success mb-3" style="max-width: 30rem;">
                    <div class="card-header">孕迹</div>
                    <div class="card-body">
                        <form class="form-group" action="/pack/test_form" method="post">
                            <p>
                                <select class="form-control" name="tag">
                                    <option>选择版本号</option>
                                    <option>V4.6.0正式打包</option>
                                    <option>4.4.0正式打包</option>
                                </select>
                            </p>

                            <p>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-info active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked="" value="office">office
                                </label>
                                <label class="btn btn-outline-info">
                                    <input type="radio" name="options" id="option2" autocomplete="off" value="online"> online
                                </label>
                                <label class="btn btn-outline-info">
                                    <input type="radio" name="options" id="option3" autocomplete="off" value="product"> product
                                </label>
                            </div>
                            </p>

                            <p>
                                <button type="submit" class="btn btn-info">开始打包</button>
                            </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}