{% extends "common/base.html" %}

{% block title %}app管理后台{% endblock %}

{% block content %}

</br>
<h1>App列表</h1>
</br>

{% if dir | length == 2 %}
<p>
<form action="{{ url_for('ota.upload') }}" method="POST" enctype="multipart/form-data">
<input type=file name=file id="upload">
<input type="hidden" name=req_path value={{ dir[:] | join('/') }}>
<input class="btn btn-info" disabled="disabled" id="submit" type=submit value="上传文件...">
</form>
</p>
{% endif %}

{% if dir[0] | length > 0 %}
<ol class="breadcrumb">
  {% for dirName in dir %}
  	
  	{% if loop.first %}
		<li class="breadcrumb-item"><a href="{{ url_for('ota.admin', req_path='') }}">Home</a></li>
  	{% endif %}
  
	<li class="breadcrumb-item">
	  {% if not loop.last %}
	  {% set req_path = dir[:loop.index] | join('/') %}
	  <a href="{{ url_for('ota.admin', req_path=req_path) }}">{{ dirName }}</a>
	  {% else %}
	  {{ dirName }}
	  {% endif%}
	</li>
  
  {% endfor %}
</ol>
{% endif %}


<table class="table table-hover">
<tbody>
{% for file in list %}
	<tr class='clickable-tr' href="{{ url_for('ota.admin', req_path=file.page_path)}}", type="{{ file.type }}">
	  <th>{{ file.name }}{{ file.extension }}</th>
	  {% if file.type==1 %}
		  <td><a class="btn btn-link" href="{{ url_for('ota.app', req_path=file.page_path) }}" target="_blank">查看</a></td>
		  <td><a class="btn btn-outline-info" href="{{ url_for('ota.download', req_path=file.file_path) }}">下载</button></td>
		  <td><a class="btn btn-outline-danger" href="#" name={{ file.name }} req_path="{{ url_for('ota.delete', req_path=file.file_path) }}">删除</button></td>
	  {% endif %}
	</tr>
{% endfor %}

{% if list | length == 0 %}
<p class="text-primary">没有文件 ... </p>
{% endif %}
</tbody>
</table> 

{% endblock %}


{% block js %}

<script src="{{ url_for('static', filename='js/jquery.qrcode.js') }}"></script>

<script type="text/javascript">

	$('.clickable-tr').on('click', function(){
		var req_path = $(this).attr('href');
		var type = $(this).attr('type');
		if(type == 2)
	  		window.location.href = req_path;
	});
	
	
	$('.btn-outline-danger').on('click', function () {
		var req_path = $(this).attr('req_path');
		var name = $(this).attr('name');
		var r = confirm("确定要删除"+ name +"吗?")
		if (r==true)
		{
			window.location.href = req_path;
		}
	});
	
	
	$('.file').on('click', function(){
		var req_path = $(this).attr('href');
		var type = $(this).attr('type');
		if(type == 2)
	  		window.location.href = req_path;
	});
	
	$('#upload').change(function(){
		var input = this;
		var url = $(this).val();
		if (url.length > 0) {
			$("#submit").removeAttr('disabled');
		}
		else 
		{
			$("#submit").attr('disabled','disabled');
		}
	});
	
</script>


{% endblock %}

