{% extends "ota/common/ota_base.html" %}

{% block title %}播种内测下载平台{% endblock %}

{% block css %}

<style>  
.col-center-block {  
	float: none;  
	display: block;  
	margin-left: auto;  
	margin-right: auto;  
}  
</style> 
	
{% endblock %}

{% block content %}

<div class="alert alert-dismissible alert-success" id="toast" style="position:fixed;top:0;right:0;left:0;z-index:10;display:none;">
	  <strong>请求成功!</strong> <p>正在下载app，请退回桌面查看</p>
</div>

</br>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{ url_for('ota.index') }}">Home</a></li>
  <li class="breadcrumb-item active">{{ app.platform }}</li>
  <li class="breadcrumb-item"><a href="{{ url_for('ota.list', req_path = app.platform + "/" + app.category) }}">{{ app.category }}</a></li>
  <li class="breadcrumb-item active">{{ app.fileName }}{{ app.fileExtension }}</li>
</ol>

<div class="col-sm-6 col-md-5 col-center-block">
	<div class="thumbnail">
		<div class="caption">
			<div id="qrcode"></div>
			<img id='imgQRcode' class = "col-center-block"/>  
			<h2 class="text-center">{{ app.name }}</h2>
			<h4 class="text-center">{{ app.id }}</h4>
			<p class="list-group-item-text text-center">{{ app.desc }}</p>
			<p></p>
			
			{% if app.type == 2 %}
				<p><a href="{{ url_for('ota.download', req_path = app.platform + '/' + app.category + '/' + app.fileName + app.fileExtension) }}" class="btn btn-danger btn-lg btn-block" role="button">下载(android)</a></p>
			{% else %}
				<p><a href="itms-services://?action=download-manifest&url={{ plistURL }}" class="btn btn-danger btn-lg btn-block" role="button">下载(iOS)</a></p>
			{% endif %}
		</div>
	</div>
</div>


{% endblock %}


{% block js %}
<script src="{{ url_for('static', filename='js/jquery.qrcode.js') }}"></script>
<script src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
        
<script type="text/javascript">

	$('.btn-block').on('click', function () {
		$("#toast").slideDown()
		$("#toast").delay(1500).slideUp()
	});

</script>

<script>
	var qrcode= $('#qrcode').qrcode(location.href).hide(); 
	var canvas=qrcode.find('canvas').get(0);  
	$('#imgQRcode').attr('src',canvas.toDataURL('image/jpg'))  
</script>
{% endblock %}