{% extends "ota/common/ota_base.html" %}

{% block title %}播种内测下载平台{% endblock %}

{% block css %}
<style type="text/css">
	.box {
		display: none; 
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	  .black_overlay{
		 
		 position: top;  
		 top: 0%;  
		 left: 0%;  
		 width: 100%;  
		 height: 100%;  
		 background-color: black;  
		 z-index:1001;  
		 -moz-opacity: 0.8;  
		 opacity:.80;  
		 filter: alpha(opacity=80);
	} 
	.white_content {
		display: none;  
		position: absolute; 
		top: 50%; 
		left: 50%;
		padding: 16px;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); 
		background-color: white; 
		z-index:1002;
		overflow: auto;
	}  
</style>
{% endblock %}

{% block content %}

<!-- <div class="container-fluid"> -->
</br>
<div class="jumbotron">
	  <h1 class="display-3">Pre-release</h1>
	  <p>这里提供手机端的内部测试安装包，主要是Office和Online包。</p>
	  <p>没有经历过严格的浏览器兼容测试，如果有问题，请换一个浏览器，推荐Chrome。</p>
	  <p>我们会定期清理，只保留目前市场最新的3-5个版本以内的内测包。</p>
	  <p>如果遇到使用上的问题，欢迎搭讪任何iOS和Android的童鞋解决处理。我们会积极配合和跟进。💪</p>
	  
	  <p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button" onclick="openWindow()">本站二维码</a>
	  </p>
</div><!-- jumbotron -->
 
 
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.qrcode.js') }}"></script>
<script src="{{ url_for('static', filename='js/qrcode.js') }}"></script>
        
<script language="javascript">
	function openWindow(){
		document.getElementById('light').style.display='block';
		document.getElementById('fade').style.display='block';
	}
	function closeWindow(){
		document.getElementById('light').style.display='none';
		document.getElementById('fade').style.display='none';
	}
</script>
{% endblock %}

{% block hiddenBlock %}
<div id="fade" class="box" onClick="closeWindow()">
	<div class="black_overlay"></div>
	<div id="light" class="white_content"></div>
</div>

<script>
	jQuery('#light').qrcode({
		text	: location.href,
		width: 250,
		height: 250,
	});	
</script>
{% endblock %}