{% extends "ota/common/ota_base.html" %}

{% block title %}播种内测下载平台{% endblock %}

{% block content %}

</br>
<div class="list-group">

	{% for app in applist %}
		<a href="{{ url_for('ota.app', req_path = app.platform + '/' + app.category + '/' + app.fileName) }}" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
			  <h4 class="text-success">{{ app.name }}</h4>
			</div>
			<h5 class="text-primary">{{ app.id }}</h5>
			<h6 class="text-primary">{{ app.desc }}</h6>
		</a>
	{% endfor %}
	{% if applist | length == 0 %}
	<p class="text-primary">没有文件 ... </p>
	{% endif %}
	
	
</div>


{% endblock %}