<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="pengelement">
        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

        <title>{% block title %}这是默认模板页，可以修改title{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <!--1、自定义css区域-->
        {% block css %}
        {% endblock %}
    </head>

    <body>
    	{% block header %}
        {% endblock %}
		<div class="container">
<!--             <div class="row row-offcanvas row-offcanvas-right"> -->
            	<!--2、自定义模板区域-->
                {% block content %}
                {% endblock %}
                
                {% include "common/footer.html" %}
<!--             </div><!~~/row~~> -->
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        
        <!--3、自定义js区域-->
        {% block js %}
        {% endblock %}
    </body>
    <!--4、自定义隐藏区域-->
    {% block hiddenBlock %}
    {% endblock %}
</html>