<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" href=" {{url_for('ota.index') }}">播种内测下载平台</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      
      {% for topFolder in nav %}
      	<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ topFolder.name }} <span class="caret"></span></a>
		  <div class="dropdown-menu" aria-labelledby="download">
		  	{% for innerFolder in topFolder.sub %}
		  		<a class="dropdown-item" href="{{url_for('ota.list', req_path = topFolder.name +  '/' +innerFolder.name)}} ">{{ innerFolder.name }}</a>
		  	{% endfor %}
		  </div>
		</li>
      {% endfor %}
      
      
    </ul>
  </div>
</nav>