{% extends "common/base.html" %}

{% block title %}Test - 播种客户端内部服务{% endblock %}

{% block content %}
<div class="container">
</br>
<h2>我是路由测试页</h2>
<p class="text-muted">我是一条帅气的测试文案</p>
<p class="text-primary">我是一条帅气的测试文案</p>
<p class="text-warning">我是一条帅气的测试文案</p>
<p class="text-danger">我是一条帅气的测试文案</p>
<p class="text-success">我是一条帅气的测试文案</p>
<p class="text-info">我是一条帅气的测试文案</p>

<a href="{{ url_for('demo.index') }}" class="btn btn-warning">回demo首页</a>

</div>

{% endblock %}